<!DOCTYPE html>
<html lang="en" ng-app="session">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="practice.js"></script>
</head>
<body>
    <!-- first example -->
    <div ng-controller="ExampleController">
        <form name="userForm"  ng-model-options="{ updateOn: 'blur',debounce:2000 }">
          <label>
            Name:
            <input type="text" name="userName"
                   ng-model="user.name"
                  />
          </label><br />

        </form>
        <pre>user.name = <span ng-bind="user.name"></span></pre>
      </div>
      
      <!-- second example -->
      <div ng-controller="PaneController">
        <input ng-model="title" aria-label="title"> <br/>
        <textarea ng-model="text" aria-label="text"></textarea> <br/>
        <pane title="{{title}}"> <span>{{text}}</span> </pane>
      </div>

      <!-- decorators -->
      <div ng-controller="serviceController">
            <div> {{msg}} </div>
            <div> {{msg2}} </div>
      </div>
</body>
</html>