<div class="row justify-content-center">
    <div class="col-3 col-sm-2 m-1 bg-danger rounded">Today</div>
</div>

<div class="row bg-white  rounded">
    <div class="col"> 
        <div class="row my-1">
            <div class="col-12 col-sm-10"><input ng-model="cityname" class="form-control border border-danger" type="text" placeholder="city name"></div>
            <div class="col-12 col-sm-2"><button ng-click="searchCity()" class="form-control btn btn-dark text-white">Search</button></div>
        </div>
        <div class="row my-1 justify-content-center">
            <div class="col-5"><span>City:</span></div>
            <div class="col-5"><span>{{weather.name}}</span></div>
        </div>
        <div class="row my-1 justify-content-center">
            <div class="col-5"><span>Date:</span></div>
            <div class="col-5"><span>{{weather.date}}</span></div>
        </div>
        <div class="row my-1 justify-content-center">
            <div class="col-5"><span>Weather:</span></div>
            <div class="col-5"><span>{{weather.weather}}</span></div>
        </div>
        <div class="row my-1 justify-content-center">
            <div class="col-5"><span>Temperature:</span></div>
            <div class="col-5"><span>{{weather.temperature}}</span></div>
        </div>
        <div class="row my-1 justify-content-center">
            <div class="col-5"><span>Wind:</span></div>
            <div class="col-5"><span>{{weather.wind.speed +" '"+weather.wind.deg}}</span></div>
        </div>
    </div> 
</div>